#container {
    background-image: url(../img/bred.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    
    .bg-light {
      background-color: #56534c25 !important;
      height: 70px;

      .nav-symbol {
        color: #fff;
        display: flex;
        flex-direction: row;
        margin-top: 28px;
      }
      .nav-link {
        color: #fff;
        font-family: "Alegreya", serif;
        padding: 32px;
      }
    }
  
}
