@import "./navigation.scss";
@import "./news.scss";
@import "./menu.scss";
@import "./reservations.scss";


body {

    #container{
        .navbar-brand{
            color: #fff;
            font-family: 'Fasthand', cursive;
            font-size: 26px;
            letter-spacing: 8px;
            padding-left: 30px;
        }
    }
    

   
}